body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    min-height: 100vh;

    /* RENKLİ ARKA PLAN */
    background: linear-gradient(135deg, #80c427, #f5640f);
    color: #222;
}

/* MENÜ */
nav {
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    text-align: center;
    backdrop-filter: blur(6px);
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO (ÜST BÜYÜK ALAN) */
.hero {
    text-align: center;
    padding: 80px 20px;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    opacity: 0.9;
}

/* BUTONLAR */
.butonlar {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 14px 30px;
    margin: 10px;
    background: white;
    color: #0072ff;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    background: #f1f1f1;
}

.btn-ikinci {
    background: #2ecc71;
    color: white;
}

/* SAYFA İÇERİĞİ */
main {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* KARTLAR */
.kart {
    background: rgba(255, 255, 255, 0.95);
    width: 300px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
    transition: 0.3s;
}




/* KÜÇÜK BUTON */
.btn-kucuk {
    display: inline-block;
    margin-top: 15px;
    color: #0072ff;
    font-weight: bold;
    text-decoration: none;
}

.btn-kucuk:hover {
    text-decoration: underline;
}

.btn-kucuk.yesil {
    color: #27ae60;
}

/* ALT SAYFA BAŞLIKLARI */
.alt-header {
    text-align: center;
    padding: 60px 20px;
    color: white;
    background: linear-gradient(135deg, #ff512f, #dd2476);
}

.alt-header.yesil {
    background: linear-gradient(135deg, #11998e, #38ef7d);
}

/* FOOTER */
footer {
    background: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    padding: 15px;
}
